body{

  
  background-color: black;


}
#pokemonsprite {
    width: 500px;
    height: 500px;
   
}
#mode-toggle {
    position:absolute;
    top:10px;
    right:10px;
    background-color: yellow;
    border-radius: 20px;
    border-left: none;
    border: 2px solid black;
}
#mode-toggle:hover {
    background-color:rgb(0, 0, 0);
    color:white;
    transition: background-color 0.3s ease;
    cursor: pointer;
   
}

    
    

#search{
   
    display:  flex;
    justify-content: center;
    align-items: center;
}
#image{
    margin-top: 6px;
    
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#pokemon-name{
    width: 300px;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}
#a{
    width: 100px;
    height: 40px;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

h1{
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size:50px;
    
}
